* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0pc;
}
body {
  background-color: black;
  display: flex;
  justify-content: center;
  justify-content: center;
  /* height: 100%; */
  background-repeat: no-repeat;
}
main {
  border-radius: 20px;
  background-color: white;
  height: 60%;
  margin-top: 50px;
}
.titulo {
  text-align: center;
  color: #007ddd;
  margin-top: 30px;
  padding: 20px;
}
.opa {
  margin-left: 30px;
}
h2 {
  color: #007ddd;
  margin: 15px;
}
.detalhes {
  width: 100%;
}
.detalhes p {
  padding: 2px;
}
table {
  margin-top: 10px;
  justify-content: center;
  display: flex;
  text-align: center;
}
th {
  color: #007ddd;
  font-size: 25px;
}
#dados {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 2px;
  color: black;
  margin: 10px;
  border-right: 1px solid;
}
table td {
  border: 1px solid;
}
